<main>
  <div class="spinner">
    <mat-spinner *ngIf="isLoading | async;else offers" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #offers>
    <div class="offers-list" *ngIf="(offerList|async)?.length !== 0; else empty">
      <div *ngFor="let offer of offerList | async">
        <mat-card class="offer-card">
          <div class="offer-card-content">
            <img mat-card-lg-image class="offer-card-img" src="../../../assets/images/defaultImageForItem.jpg" alt="Кулити">
            <div class="offer-card-text">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p>
                  Название: {{offer.name}}
                </p>
                <p><b style="color: #87e876">
                  Цена: {{offer.price}}
                </b>
                </p>
              </div>
              <span>
                Категория: {{offer.category}}
              </span>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </ng-template>
</main>

<ng-template #empty>
  <h5> Such offers were not found</h5>
</ng-template>
