<main>
  <div class="spinner">
    <mat-spinner *ngIf="isLoading | async;else offers" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #offers>
    <div style="width: 90%" *ngIf="(offerList|async)?.length !== 0; else empty">
      <div *ngFor="let offer of offerList | async">
        <mat-card class="example-card">
          <img mat-card-lg-image="" class="full-size" src="../../../assets/images/defaultImageForItem.jpg">
          <mat-card-content>
            <p align="center">
              <a style="font-size: 17px">
                {{offer.name}}
              </a>
            </p>
            <p class="box">
              {{offer.category}}
            </p>
            <p>
              <span style="font-size: 16px"> Needed: {{offer.price}}$ </span> &nbsp;<span style="font-size: 16px"> Created by: </span>
              <a style="font-size: 16px">  {{offer.id}} </a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-template>
</main>

<ng-template #empty>
  <h5> Such offers were not found</h5>
</ng-template>
