.example-card {
  width: 30%;
}

mat-card {
  float: left;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
  overflow-x:hidden;
  height: 400px;
}
.cut-long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-size {
  height: 70%;
  width: 100%;
  background-color: white;
}
.spinner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

mat-spinner{
  margin: auto;
}

main {
  width: 100%;
  padding-left: 40px;
}

.box {
  overflow: hidden;
  height: 50px;
  width: 400px;
  line-height: 25px;
}

.box:before {
  content: "";
  float: left;
  width: 5px;
  height: 200px;
}

.box > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.box:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -25px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background-size: 100% 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

.buttonSearch{
  width: 250px;
}

mat-card::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: white;
}

mat-card::-webkit-scrollbar
{
  width: 4px;
  background-color: lightgrey;
}

mat-card::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: lightgrey;
}

span:focus {
  outline:none;
}
button:focus{
  outline:none;
}
