<mat-sidenav-container class="example-container">
  <!--<mat-sidenav #sidenav mode="side" *ngIf="currentUser|async" [(opened)]="opened">-->
  <mat-sidenav #sidenav mode="side">
    <ng-template [ngIf]="(opened|async)">
      <p><a routerLink="/offer-edit"> Create offer </a></p>
      <mat-divider></mat-divider>
      <p>
        <button mat-button (click)="close()" style="font-size: 15px"> Hide</button>
      </p>
    </ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button	 class="absolutePositionButton" (click)="open()" *ngIf="!(opened|async)">
      ...
    </button>
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
