
<mat-toolbar style="height: 8vh">
<!--
  <img class="pointer" src="/src/assets/images/Logo.png" routerLink="/main-page">
-->

  <nav mat-tab-nav-bar style="margin-left: auto; margin-right: auto">
    <a mat-tab-link style="height: 68px; width: 300px; font-size: 16px"
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive" >
      {{link.label}}
    </a>
  </nav>
  <div *ngIf="!(currentUser | async)">
    <button mat-button (click)="openSingIn()" *ngIf="!(currentUser | async)" style="font-size: 16px"> Sing in </button>
    /
    <button mat-button (click)="openSingUp()" style="font-size: 16px">Sign up</button>
  </div>

  <span *ngIf="ls.getItem('currentUser')"  style="font-size: 18px; margin-right: 20px; "> {{(currentUser | async)?.login}} </span>
  <button mat-button (click)="logout()" *ngIf="(currentUser | async)"> Logout </button>
</mat-toolbar>

